.form {
  margin-top: 10px;
  margin-bottom: 30px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 380px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  cursor: pointer;
}

input:focus {
  outline-color: rgb(242, 242, 180);
}

input::placeholder {
  color: darkgray;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(242, 242, 180);
  color: #005a9c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005a9c;
  color:rgb(242, 242, 180);
}
