body {
  margin: 0;
  line-height: 1.5;
  color: #005a9c;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background: url(./img/2.jpg);
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
p,
label {
  margin-top: 10px;
  margin-bottom: 10px;
}
